/* style.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, rgb(18, 44, 11), rgb(30, 44, 11));
}


.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 50px;
  background-color: #90e97f;
  border-radius: 15px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  border: 2px solid #000;
}

#restartButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  background-color: #2f382f;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
 

}
